/.qlot/

# Beads / Dolt files (added by bd init)
.dolt/
*.db
.beads-credential-key

# AI
/.pi/quiet-tools/
/.pi/tasks/
/.pi/input-history.jsonl
/.beads/interactions.jsonl

# Compiled Lisp files
*.fasl
*.fasl.gz
.DS_Store

# Built binary
/dsolv
/build-dsolv.lisp
dsolv
com.djhaskin.dsolv
*.bak
index.dsrepo
out.dscard

# Generated test data
test/resources/data/
